Repository yikoyu/vuetify-pro-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,vue}": [
    "npx eslint --fix"
  ],
  "**/*.{css,less,scss,vue}": [
    "npx stylelint --fix"
  ]
}

chore(workflow): remove semantic commit check workflow style(vite): format code for consistency and readability
  .github/workflows/semantic_pr.yml
  vite.config.ts
Due: npx eslint --fix

feat(types): add TypeScript definitions for fs-extra and update component props
  lib/components/VuetifyTiptap.vue.d.ts
  lib/components/VuetifyViewer.vue.d.ts
  lib/extensions/components/ActionButton.vue.d.ts
  lib/extensions/components/ActionMenuButton.vue.d.ts
  lib/extensions/components/ColorActionButton.vue.d.ts
  lib/extensions/components/FullscreenActionButton.vue.d.ts
  lib/extensions/components/HighlightActionButton.vue.d.ts
  lib/extensions/components/ImageActionButton.vue.d.ts
  lib/extensions/components/LinkActionButton.vue.d.ts
  lib/extensions/components/TableActionButton.vue.d.ts
  lib/extensions/components/VideoActionButton.vue.d.ts
  lib/extensions/components/image/ImageDialog.vue.d.ts
  lib/extensions/components/image/ImageUpload.vue.d.ts
  package.json
  pnpm-lock.yaml
Due: npx eslint --fix

feat(vite): add copyLibPlugin for local development and clean up dependencies handling
  vite.config.ts
Due: npx eslint --fix

feat(build): update watch-build script for production mode and add build setup action
  .github/actions/build-setup/action.yml
  package.json
Due: none

feat(dependencies): add fs-extra and nodemon, remove unused fs-extra types
  package.json
  pnpm-lock.yaml
  scripts/copy-lib.js
Due: npx eslint --fix

fix(link): update hrefRules regex to correctly validate URLs
  src/extensions/link.ts
Due: npx eslint --fix

fix(vite): ignore TypeScript error for regex pattern replacement in dependencies
  vite.config.ts
Due: npx eslint --fix

fix(video): update regex for bilibili links to escape dots
  src/extensions/video.ts
Due: npx eslint --fix

refactor: remove unused copy-lib script and build workflow; update Tiptap dependencies to latest versions
  .github/workflows/build-artificts.yml
  lib/vuetify-pro-tiptap.js
  lib/vuetify-pro-tiptap.umd.cjs
  package.json
  pnpm-lock.yaml
  scripts/copy-lib.js
Due: npx eslint --fix

Added Turkish translation file
  src/locales/tr
Due: none

fix(locale): add German translations for video dialog and tooltip
  src/locales/de.ts
Due: npx eslint --fix

fix(locale): add missing German translations for image dialog and undo/redo tooltips
  src/locales/de.ts
Due: npx eslint --fix

feat(hooks): implement useEval hook for dynamic hrefRules evaluation; update video components to utilize new hook
  lib/extensions/components/VideoActionButton.vue.d.ts
  lib/extensions/components/image/ImageLoadError.vue.d.ts
  lib/extensions/components/video/VideoDialog.vue.d.ts
  lib/extensions/components/video/VideoNodeView.vue.d.ts
  lib/extensions/video.d.ts
  lib/hooks/use-eval.d.ts
  lib/style.css
  lib/vuetify-pro-tiptap.js
  lib/vuetify-pro-tiptap.umd.cjs
  src/extensions/components/VideoActionButton.vue
  src/extensions/components/image/ImageLoadError.vue
  src/extensions/components/link/LinkDialog.vue
  src/extensions/components/video/VideoDialog.vue
  src/extensions/components/video/VideoNodeView.vue
  src/extensions/video.ts
  src/hooks/use-eval.ts
  vite.config.ts.timestamp-1737706507210-5455a47b58575.mjs
  vite.config.ts.timestamp-1737709485177-8e928dc605b4e.mjs
  vite.config.ts.timestamp-1738739477244-60cab9691119d.mjs
Due: npx eslint --fix, npx stylelint --fix

feat(video): enhance video loading error handling and improve iframe structure; update link conversion to support string and number types
  lib/style.css
  lib/vuetify-pro-tiptap.js
  lib/vuetify-pro-tiptap.umd.cjs
  src/extensions/components/image/ImageLoadError.vue
  src/extensions/components/video/VideoNodeView.vue
  src/extensions/video.ts
Due: npx eslint --fix, npx stylelint --fix

fix: add missing german translation
  src/locales/de.ts
Due: npx eslint --fix

fix(locales): add missing german translation (#426)
  src/locales/de.ts
Due: npx eslint --fix

fix(locales): added Turkish translation
  README.md
  README.zh-CN.md
  src/locales/index.ts
  src/locales/tr.ts
Due: npx eslint --fix

fix(locales): added Turkish translation (#423)
  README.md
  README.zh-CN.md
  src/locales/index.ts
  src/locales/tr.ts
Due: npx eslint --fix

ci(workflows): :ferris_wheel: update branch triggers and enhance gh-pages deployment settings
  .github/workflows/gh-pages.yml
  .github/workflows/test.yml
Due: none

perf(TiptapToolbar): :zap: optimize performance overhead of items
  src/components/BubbleMenu.vue
  src/components/TiptapToolbar.vue
  src/components/VuetifyTiptap.vue
  src/extensions/components/ActionButton.vue
  src/extensions/components/table/TableMenu.vue
  src/extensions/text-align.ts
Due: npx eslint --fix, npx stylelint --fix

refactor(extensions): :recycle: split the `export` in the `.vue` file into a separate `.ts` file
  src/extensions/components/ActionMenuButton/index.ts
  src/extensions/components/ActionMenuButton/src/index.vue
  src/extensions/components/ActionMenuButton/src/types.ts
  src/extensions/components/table/CreateTablePopover.vue
  src/extensions/components/table/TableMenu.vue
  src/extensions/components/table/type.ts
  src/extensions/font-family.ts
  src/extensions/font-size.ts
  src/extensions/heading.ts
  src/extensions/markdown-theme.ts
  src/extensions/text-align.ts
Due: npx eslint --fix, npx stylelint --fix

docs: :memo: update demo links and contribution guidelines in README files
  .github/workflows/gh-pages.yml
  README.md
  README.zh-CN.md
Due: none

chore(release): 2.5.8 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4108931fdf795b39349efc7095516b3666ec69cb
Due: none

feat(locale): :sparkles: enhance internationalization with fallback support and cleanup
  README.md
  README.zh-CN.md
  examples/tiptap.ts
  src/hooks/use-context.ts
  src/install.ts
  src/locales/index.ts
Due: npx eslint --fix

style: update CSS styles for Tiptap editor; improve image display handling and adjust ProseMirror settings
  lib/style.css
  lib/styles/editor.css
  lib/styles/index.css
  src/styles/editor.scss
Due: npx stylelint --fix

fix(font-size): :bug: recognize pre-set fontSize when marking text
  src/extensions/font-size.ts
Due: npx eslint --fix

feat(locale): add Portuguese language support
  README.md
  README.zh-CN.md
  src/locales/index.ts
  src/locales/pt.ts
Due: npx eslint --fix

feat(locale): add Portuguese language support (#432)
  README.md
  README.zh-CN.md
  src/locales/index.ts
  src/locales/pt.ts
Due: npx eslint --fix

feat(bubble): :sparkles: support table operations with default resizable=true and fix style loss
  examples/styles/markdown/github.scss
  examples/styles/markdown/maidragon.scss
  examples/tiptap.ts
  src/components/BubbleMenu.vue
  src/constants/define.ts
  src/extensions/components/bubble.ts
  src/extensions/table.ts
  src/styles/editor.scss
  src/styles/markdown.scss
  src/utils/utils.ts
Due: npx eslint --fix, npx stylelint --fix

style: :lipstick: update code format
  src/locales/index.ts
Due: npx eslint --fix
