Repository yikoyu/vuetify-pro-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,vue}": [
    "npx eslint --fix"
  ],
  "**/*.{css,less,scss,vue}": [
    "npx stylelint --fix"
  ]
}

chore(deps): :rewind: update devDependencies to latest versions
  package.json
  pnpm-lock.yaml
  src/styles/editor.scss
  src/styles/markdown.scss
Due: npx stylelint --fix

Add hungarian translation
  src/locales/hu.ts
Due: npx eslint --fix

Import hu translation
  src/locales/index.ts
Due: npx eslint --fix

Extend readmes with 'hu'
  README.md
  README.zh-CN.md
Due: none

feat(locales): add hungarian language support
  README.md
  README.zh-CN.md
  src/locales/hu.ts
  src/locales/index.ts
Due: npx eslint --fix

deploy: 128fb6f9c4aba882b710908e1c5fe4bce8aee610
  develop/assets/index-9lXQaZCS.js
  develop/assets/index-CqP9lk9z.css
  develop/assets/index-CvktpSFs.css
  develop/assets/index-Drc1Eeo_.js
  develop/index.html
Due: npx eslint --fix, npx stylelint --fix

refactor(deps): :recycle: replace lodash-related dependencies with es-toolkit
  package.json
  pnpm-lock.yaml
  src/utils/utils.ts
Due: npx eslint --fix

chore(deps): :rewind: upgrade devDeps & migrate SCSS 1.79.0+ compatibility
  examples/App.vue
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/VuetifyTiptap.vue
  src/styles/index.scss
  src/styles/markdown.scss
  stylelint.config.mjs
Due: npx eslint --fix, npx stylelint --fix

deploy: c58c36be2771b464c9cc8b9ab611ca2656fe9d5c
  develop/assets/index-9lXQaZCS.js
  develop/assets/index-B5_LRtAz.css
  develop/assets/index-CqP9lk9z.css
  develop/assets/index-yf4r7EMD.js
  develop/index.html
Due: npx eslint --fix, npx stylelint --fix

deploy: ceacb3ac13e5928f4e1f00312583cba29c7239df
  develop/assets/index-BA6pbqbe.js
  develop/index.html
Due: npx eslint --fix

chore(husky): :rewind: replace husky with simple-git-hooks and update dependencies
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update @tiptap/* to ^3.13.0
  package.json
  pnpm-lock.yaml
Due: none

deploy: 4a412d25c7c0d58e7cdb92a7d9e62895a11c6699
  master/assets/index-B5_LRtAz.css
  master/assets/index-Bp05QxIR.js
  master/assets/index-DDRnMV4_.js
  master/assets/index-W1xoONHV.css
  master/index.html
Due: npx eslint --fix, npx stylelint --fix

Notes added by 'git notes add'
  d919fe92cba0291db3af2c03943741313efcfa85
Due: none

Notes added by 'git notes add'
  ac3135cd6f3622238a1095e38f003f609aaa8b6f
Due: none

ci(release): :ferris_wheel: skip git hooks
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(release): 2.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  67392d6722c3e3b0add01c001db633858965dc81
Due: none

ci(pkg-pr-new): :ferris_wheel: add pkg-pr-new to automatically publish package preview links
  .github/workflows/publish-pr-commit-pkg.yml
Due: none

fix(fullscreen): :bug: fix fullscreen editor obscured by multiple VCards
  examples/App.vue
  src/components/VuetifyTiptap.vue
  src/extensions/components/ActionButton/exts/FullscreenActionButton.vue
  src/hooks/use-store.ts
Due: npx eslint --fix, npx stylelint --fix

deploy: 6e37551fc5bf4ca6d806a4bebf108ce0a5d15d1b
  develop/assets/index-BA6pbqbe.js
  develop/assets/index-CTNBSdz3.js
  develop/index.html
Due: npx eslint --fix

fix(fullscreen): :bug: fix fullscreen editor obscured when in VCard
  src/components/VuetifyTiptap.vue
Due: npx eslint --fix, npx stylelint --fix

fix(fullscreen): :bug: remove useFullscreen(el)
  src/components/VuetifyTiptap.vue
  src/extensions/components/ActionButton/exts/FullscreenActionButton.vue
  src/hooks/use-store.ts
Due: npx eslint --fix, npx stylelint --fix

fix(fullscreen): :bug: fix inheritAttrs warnings and fullscreen edit click issue
  examples/styles/markdown/github.scss
  examples/styles/markdown/maidragon.scss
  src/components/VuetifyTiptap.vue
  src/styles/editor.scss
Due: npx eslint --fix, npx stylelint --fix

fix(fullscreen): :bug: fix fullscreen editor obscured by multiple VCards #462 (#463)
  examples/App.vue
  examples/styles/markdown/github.scss
  examples/styles/markdown/maidragon.scss
  src/components/VuetifyTiptap.vue
  src/styles/editor.scss
Due: npx eslint --fix, npx stylelint --fix

deploy: 123507069b207933631c68620ca3afd16913cadc
  master/assets/index-B5_LRtAz.css
  master/assets/index-DDRnMV4_.js
  master/assets/index-DV88XQlW.js
  master/assets/index-OuUAxIQR.css
  master/index.html
Due: npx eslint --fix, npx stylelint --fix

fix(table): :bug: fix scrollbar appearing when adjusting table width in editor
  src/styles/editor.scss
  vite.config.ts
Due: npx eslint --fix, npx stylelint --fix

docs(readme): :memo: update README.md
  README.md
  README.zh-CN.md
Due: none

deploy: 09aafdbf6bd0988c0780d467cd12953d82aed5bc
  master/assets/index-CSMNtRR9.js
  master/assets/index-CXcynLvQ.css
  master/assets/index-OuUAxIQR.css
  master/index.html
Due: npx eslint --fix, npx stylelint --fix

chore(release): 2.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  4e4900de577f90e83c08d0dece02a130d6b285e4
Due: none

deploy: 09aafdbf6bd0988c0780d467cd12953d82aed5bc
  develop/assets/index-B5_LRtAz.css
  develop/assets/index-CSMNtRR9.js
  develop/assets/index-CTNBSdz3.js
  develop/assets/index-CXcynLvQ.css
  develop/index.html
Due: npx eslint --fix, npx stylelint --fix

docs(readme): :memo: fix pkg.pr.new badge redirect
  README.md
  README.zh-CN.md
Due: none

chore(gh-pages): deploy develop branch @ d871217920513bf0c2e14d1c99b22394ca26834f
  .nojekyll
  develop/assets/index-CSMNtRR9.js
  develop/assets/index-CXcynLvQ.css
  develop/index.html
  master/assets/index-CSMNtRR9.js
  master/assets/index-CXcynLvQ.css
  master/index.html
Due: npx eslint --fix, npx stylelint --fix

ci: :ferris_wheel: rewrite github workflows
  .github/actions/build-setup/action.yml
  .github/workflows/autofix.yml
  .github/workflows/check-vue.yml
  .github/workflows/commitlint.yml
  .github/workflows/gh-pages.yml
  .github/workflows/github-pages-deploy.yml
  .github/workflows/publish-npm-semantic-release.yml
  .github/workflows/publish-pr-commit-pkg.yml
  .github/workflows/release.yml
  .github/workflows/semantic_pr.yml
  .github/workflows/test.yml
Due: none

fix(package): :bug: fix style.css export path
  package.json
Due: none

ci(publish-npm-semantic-release): :ferris_wheel: add github-token
  .github/workflows/publish-npm-semantic-release.yml
Due: none

Notes added by 'git notes add'
  cefae4d74744ff2a4a5572a5bb104bd9e59f62ff
Due: none
