Repository yikoyu/vuetify-pro-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix

chore(release): 2.8.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

fix: add emit tracking to prevent circular feedback from removing characters after they are typed
  src/components/VuetifyTiptap.vue
Due: npx eslint --fix, npx stylelint --fix

chore(gh-pages): deploy master branch @ 9be6bd428332d17777d94799c65f4f1b754cd237
  .nojekyll
  develop/assets/index-CcIkdmku.js
  develop/assets/index-CpGQdgjL.css
  develop/index.html
  master/assets/index-CpGQdgjL.css
  master/assets/index-Dhntkszk.js
  master/index.html
Due: npx eslint --fix, npx stylelint --fix

Notes added by 'git notes add'
  0ec29d38c31d810f740610f09548ca6e8c5d674f
Due: none

Notes added by 'git notes add'
  cefae4d74744ff2a4a5572a5bb104bd9e59f62ff
Due: none

ci(release): add 2.8.x branch to semantic-release branches
  release.config.mjs
Due: none

feat!: migrate to Vuetify 4 and refactor component props
  .nvmrc
  README.md
  README.zh-CN.md
  examples/App.vue
  package.json
  pnpm-lock.yaml
  src/components/VuetifyTiptap.vue
  src/constants/define.ts
  src/extensions/components/ActionButton/src/index.vue
  src/extensions/components/ActionMenuButton/src/index.vue
  src/extensions/components/ColorPicker.vue
  src/styles/editor.scss
  vite-example.config.ts
  vite.config.ts
Due: npx eslint --fix, npx stylelint --fix

chore(deps): upgrade Vite ecosystem dependencies
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: npx eslint --fix

chore(deps): update @tiptap/* to v3.27.3
  examples/App.vue
  package.json
  pnpm-lock.yaml
Due: npx eslint --fix, npx stylelint --fix

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

chore(deps): upgrade @antfu/eslint-config to v9
  package.json
  pnpm-lock.yaml
Due: none

chore(release): 2.8.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  7a8b92e65a46adf60f36c91ee7617ff009445cdc
Due: none

Path conditions:
  npx eslint --fix: any of: **/*.{js,jsx,ts,tsx,vue}
  npx stylelint --fix: any of: **/*.{css,less,scss,vue}
