Repository yikoyu/vuetify-pro-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx,vue}": [
    "npx eslint --fix"
  ],
  "**/*.{css,less,scss,vue}": [
    "npx stylelint --fix"
  ]
}

build(commitlint): :package: deprecate commitizen and use cz-git and czg
  .gitignore
  .vscode/settings.json
  commitlint.config.js
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
Due: npx eslint --fix

chore(release): 2.5.4 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  2f05c0c80a19be02b16095e86934fc9c49e09b1b
Due: none

style: update code format
  examples/styles/markdown/github.scss
  examples/styles/markdown/maidragon.scss
  index.html
  src/styles/markdown.scss
Due: npx stylelint --fix

chore: :rewind: support vite v5
  commitlint.config.js
  package.json
  src/extensions/font-size.ts
  vite.config.ts
Due: npx eslint --fix

docs(readme): :memo: update demo to stackblitz
  README.md
  README.zh-CN.md
Due: none

docs: fix typos
  src/extensions/image.ts
Due: npx eslint --fix

ci: :ferris_wheel: update semantic_pr and caching error
  .github/actions/build-setup/action.yml
  .github/workflows/semantic_pr.yml
Due: none

Refactor file select event to model update
  src/extensions/components/image/ImageUpload.vue
Due: npx eslint --fix, npx stylelint --fix

fix(image): :bug: code formatting and improved exception messages
  src/extensions/components/image/ImageUpload.vue
Due: npx eslint --fix, npx stylelint --fix

ci(semantic_pr): :ferris_wheel: validate PR commits correctly in commitlint
  .github/workflows/semantic_pr.yml
Due: none

refactor(image): :recycle: file select event to model update (#406)
  src/extensions/components/image/ImageUpload.vue
Due: npx eslint --fix, npx stylelint --fix

chore(release): 2.5.5 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d19c09970aa45a93844f0aec211613e85fa011bb
Due: none

chore(deps): update dependency typescript to 5.5.4
  package.json
  pnpm-lock.yaml
Due: none

fix: :bug: add support for Node.js 22
  README.md
  README.zh-CN.md
  package.json
Due: none

ci(release): :ferris_wheel: add provenance config
  .github/workflows/release.yml
Due: none

chore(release): 2.5.6 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  3ef90cd14a2e627ebaca0111ba3a766bc9328cb8
Due: none

docs(base-kit): improve jsdoc for BaseKitOptions, close #397
  src/extensions/base-kit.ts
Due: npx eslint --fix

fix(extensions): ensure focus is maintained after inserting table, close #409
  src/extensions/blockquote.ts
  src/extensions/bold.ts
  src/extensions/bullet-list.ts
  src/extensions/code-block.ts
  src/extensions/code.ts
  src/extensions/color.ts
  src/extensions/components/bubble.ts
  src/extensions/font-family.ts
  src/extensions/font-size.ts
  src/extensions/heading.ts
  src/extensions/highlight.ts
  src/extensions/history.ts
  src/extensions/horizontal-rule.ts
  src/extensions/indent.ts
  src/extensions/italic.ts
  src/extensions/markdown-theme.ts
  src/extensions/ordered-list.ts
  src/extensions/strike.ts
  src/extensions/subscript.ts
  src/extensions/task-list.ts
  src/extensions/text-align.ts
  src/extensions/underline.ts
Due: npx eslint --fix

fix(link): preserve parent plugins to fix autolink, close #410
  src/extensions/link.ts
Due: npx eslint --fix

refactor: optimize export statements, close #346
  src/index.ts
  src/install.ts
  src/locales/index.ts
Due: npx eslint --fix

chore(release): 2.5.7 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  bbe93b32039eb924ca50431e9e752fa356c90501
Due: none

fix(locale): add italian locale
  README.md
  src/locales/index.ts
  src/locales/it.ts
Due: npx eslint --fix

fix(locale): fix Test errors
  README.md
  src/locales/index.ts
  src/locales/it.ts
Due: npx eslint --fix

docs: :memo: eslint fix and update README
  README.zh-CN.md
  src/locales/index.ts
Due: npx eslint --fix

fix(locale): add italian locale (#411)
  README.md
  README.zh-CN.md
  src/locales/index.ts
  src/locales/it.ts
Due: npx eslint --fix

fix: :bug: use OriginalThemeProvider for dialog original theme
  examples/App.vue
  examples/components/PreviewActionButton.vue
  src/extensions/components/ImageActionButton.vue
  src/extensions/components/LinkActionButton.vue
  src/extensions/components/OriginalThemeProvider.vue
  src/extensions/components/VideoActionButton.vue
Due: npx eslint --fix, npx stylelint --fix

fix(indent): 🐛 align indent button order with Google Docs and Word
  src/extensions/indent.ts
Due: npx eslint --fix

fix(styles): :bug: restore outline styles for images and videos when Focus is disabled
  src/styles/editor.scss
Due: npx stylelint --fix

fix(xss): :bug: resolve parsing issue for colgroup and col elements
  src/constants/xss-rules.ts
Due: npx eslint --fix

perf(TiptapToolbar): :zap: optimize performance overhead of items and disabled
  examples/App.vue
  examples/components/PreviewActionButton.vue
  src/components/BubbleMenu.vue
  src/components/TiptapToolbar.vue
  src/extensions/blockquote.ts
  src/extensions/bold.ts
  src/extensions/bullet-list.ts
  src/extensions/clear.ts
  src/extensions/code-block.ts
  src/extensions/code.ts
  src/extensions/color.ts
  src/extensions/components/ActionButton.vue
  src/extensions/components/ActionMenuButton.vue
  src/extensions/components/ColorActionButton.vue
  src/extensions/components/FullscreenActionButton.vue
  src/extensions/components/HighlightActionButton.vue
  src/extensions/components/ImageActionButton.vue
  src/extensions/components/LinkActionButton.vue
  src/extensions/components/TableActionButton.vue
  src/extensions/components/VideoActionButton.vue
  src/extensions/components/table/TableMenu.vue
  src/extensions/font-family.ts
  src/extensions/font-size.ts
  src/extensions/heading.ts
  src/extensions/highlight.ts
  src/extensions/history.ts
  src/extensions/horizontal-rule.ts
  src/extensions/image.ts
  src/extensions/indent.ts
  src/extensions/italic.ts
  src/extensions/link.ts
  src/extensions/ordered-list.ts
  src/extensions/strike.ts
  src/extensions/subscript.ts
  src/extensions/table.ts
  src/extensions/task-list.ts
  src/extensions/text-align.ts
  src/extensions/underline.ts
  src/extensions/video.ts
Due: npx eslint --fix, npx stylelint --fix

feat(bubble-menu): :sparkles: add bubble display support on tables
  src/components/BubbleMenu.vue
  src/components/VuetifyTiptap.vue
  src/constants/define.ts
  src/extensions/components/bubble.ts
  src/utils/utils.ts
Due: npx eslint --fix, npx stylelint --fix

chore: 优化性能
  examples/App.vue
  src/components/BubbleMenu.vue
  src/components/TiptapToolbar.vue
  src/components/VuetifyTiptap.vue
  src/extensions/components/ActionButton.vue
  src/extensions/components/table/TableMenu.vue
  src/extensions/text-align.ts
Due: npx eslint --fix, npx stylelint --fix

fix(workflow): update branch name from main to master in build artifacts workflow
  .github/workflows/build-artificts.yml
Due: none
