Repository yikoyu/vuetify-pro-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix

fix: remove .idea from tracking
  .gitignore
  .idea/.gitignore
  .idea/aws.xml
  .idea/compiler.xml
  .idea/modules.xml
  .idea/sonarlint/issuestore/2/6/26e16b204ba8ad4c67e11d09140657471b3f3dea
  .idea/sonarlint/issuestore/5/c/5c19168a365548bc3b603c5cf957bb3109a77b6a
  .idea/sonarlint/issuestore/6/1/61ebb9fd6e8cf9082658121d5d81e297791dacd0
  .idea/sonarlint/issuestore/6/c/6c7423974454604a0205c8db1395bf559010d359
  .idea/sonarlint/issuestore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
  .idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/issuestore/a/2/a2794a6baf5c9916975cb3e8b727422d1aea6008
  .idea/sonarlint/issuestore/a/8/a829ed6336deb68f9874e5da490e1ec440b0e9b7
  .idea/sonarlint/issuestore/a/d/ad02e69545691490bf7921db5b1e736df57d71b1
  .idea/sonarlint/issuestore/c/5/c5fb850250c7443c48a6c12b5cf6916773da31f1
  .idea/sonarlint/issuestore/e/7/e7b129ed54e5f3a6ad2701ad98fb309f9bd2a773
  .idea/sonarlint/issuestore/f/6/f6a21e429500a84ef92b7ed700b96291dc00b473
  .idea/sonarlint/issuestore/index.pb
  .idea/sonarlint/securityhotspotstore/2/6/26e16b204ba8ad4c67e11d09140657471b3f3dea
  .idea/sonarlint/securityhotspotstore/5/c/5c19168a365548bc3b603c5cf957bb3109a77b6a
  .idea/sonarlint/securityhotspotstore/6/1/61ebb9fd6e8cf9082658121d5d81e297791dacd0
  .idea/sonarlint/securityhotspotstore/6/c/6c7423974454604a0205c8db1395bf559010d359
  .idea/sonarlint/securityhotspotstore/7/0/7030d0b2f71b999ff89a343de08c414af32fc93a
  .idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
  .idea/sonarlint/securityhotspotstore/a/2/a2794a6baf5c9916975cb3e8b727422d1aea6008
  .idea/sonarlint/securityhotspotstore/a/8/a829ed6336deb68f9874e5da490e1ec440b0e9b7
  .idea/sonarlint/securityhotspotstore/a/d/ad02e69545691490bf7921db5b1e736df57d71b1
  .idea/sonarlint/securityhotspotstore/c/5/c5fb850250c7443c48a6c12b5cf6916773da31f1
  .idea/sonarlint/securityhotspotstore/e/7/e7b129ed54e5f3a6ad2701ad98fb309f9bd2a773
  .idea/sonarlint/securityhotspotstore/f/6/f6a21e429500a84ef92b7ed700b96291dc00b473
  .idea/sonarlint/securityhotspotstore/index.pb
  .idea/vcs.xml
  .idea/vuetify-pro-tiptap.iml
Due: none

fix: remove coverage
  .gitignore
  coverage/base.css
  coverage/block-navigation.js
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/utils.ts.html
Due: npx eslint --fix, npx stylelint --fix

test: add benchmarking
  package.json
  src/tests/utils/utils.benchmark.ts
Due: npx eslint --fix

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  d9cf867e03d88d7ae4f4e403675feddccfa01884
Due: none

feat(export TiptapToolbar): export TiptapToolbar
  src/index.ts
Due: npx eslint --fix

Create nl.ts
  src/locales/nl.ts
Due: npx eslint --fix

Update index.ts
  src/locales/index.ts
Due: npx eslint --fix

Update nl.ts
  src/locales/nl.ts
Due: npx eslint --fix

Update README.md
  README.md
Due: none

fix: bubble menu type is missing
  examples/tiptap.ts
  src/extensions/components/bubble.ts
Due: npx eslint --fix

fix(extensions): props type error
  src/extensions/components/ActionMenuButton.vue
  src/extensions/components/table/TableMenu.vue
Due: npx eslint --fix, npx stylelint --fix

fix: sharing global parameters among multiple editors
  src/components/VuetifyTiptap.vue
  src/components/VuetifyViewer.vue
  src/extensions/components/ColorActionButton.vue
  src/extensions/components/FullscreenActionButton.vue
  src/extensions/components/HighlightActionButton.vue
  src/extensions/markdown-theme.ts
  src/hooks/index.ts
  src/hooks/use-context.ts
  src/hooks/use-markdown-theme.ts
  src/hooks/use-store.ts
Due: npx eslint --fix, npx stylelint --fix

feat: dialog can be customized with dialogComponent for custom components and styles
  examples/components/LinkDialog.vue
  examples/tiptap.ts
  src/components/BubbleMenu.vue
  src/components/TiptapToolbar.vue
  src/extensions/components/ImageActionButton.vue
  src/extensions/components/LinkActionButton.vue
  src/extensions/components/VideoActionButton.vue
  src/extensions/components/bubble.ts
  src/extensions/image.ts
  src/extensions/link.ts
  src/extensions/video.ts
  src/type.ts
Due: npx eslint --fix, npx stylelint --fix

feat(VuetifyTiptap): add removeDefaultWrapper option to remove default wrapper
  README.md
  README.zh-CN.md
  src/components/VuetifyTiptap.vue
Due: npx eslint --fix, npx stylelint --fix

fix(Table): unable to create table for mobile devices
  src/extensions/components/table/CreateTablePopover.vue
  src/utils/is-mobile.ts
Due: npx eslint --fix, npx stylelint --fix

fix(extensions): disable commands that cannot be used in certain operations
  src/components/BubbleMenu.vue
  src/components/TiptapToolbar.vue
  src/extensions/blockquote.ts
  src/extensions/bold.ts
  src/extensions/bullet-list.ts
  src/extensions/clear.ts
  src/extensions/code-block.ts
  src/extensions/code.ts
  src/extensions/color.ts
  src/extensions/components/ActionMenuButton.vue
  src/extensions/font-family.ts
  src/extensions/font-size.ts
  src/extensions/heading.ts
  src/extensions/highlight.ts
  src/extensions/history.ts
  src/extensions/horizontal-rule.ts
  src/extensions/image.ts
  src/extensions/indent.ts
  src/extensions/italic.ts
  src/extensions/link.ts
  src/extensions/ordered-list.ts
  src/extensions/strike.ts
  src/extensions/subscript.ts
  src/extensions/table.ts
  src/extensions/task-list.ts
  src/extensions/text-align.ts
  src/extensions/underline.ts
  src/extensions/video.ts
Due: npx eslint --fix, npx stylelint --fix

feat(VuetifyTiptap): add 'hideBubble' prop to hide the bubble menu
  README.md
  README.zh-CN.md
  src/components/VuetifyTiptap.vue
Due: npx eslint --fix, npx stylelint --fix

fix(BubbleMenu): repeatedly selecting table cells crashes
  src/components/BubbleMenu.vue
Due: npx eslint --fix, npx stylelint --fix

feat(locale): add Dutch locale (#243)
  README.md
  src/locales/index.ts
  src/locales/nl.ts
Due: npx eslint --fix

style: lint fix
  src/locales/index.ts
Due: npx eslint --fix

chore(release): 2.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ab3bb56327a0ab156032aef7b6296e6a17f9c003
Due: none

fix(VuetifyViewer): cannot be used independently
  examples/App.vue
  src/components/VuetifyViewer.vue
  src/hooks/use-markdown-theme.ts
Due: npx eslint --fix, npx stylelint --fix

chore(release): 2.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  acf23a5c9f2622aefc903c33a6d88fb877943259
Due: none

feat: add the Provider component and export Toolbar
  examples/App.vue
  src/components/TiptapToolbar.vue
  src/components/VuetifyTiptap.vue
  src/hooks/index.ts
  src/hooks/use-store.ts
  src/index.ts
Due: npx eslint --fix, npx stylelint --fix

fix(locale): update Dutch locale
  src/locales/nl.ts
Due: npx eslint --fix

chore: added comments and optimized types
  src/constants/define.ts
  src/extensions/base-kit.ts
  src/extensions/blockquote.ts
  src/extensions/bold.ts
  src/extensions/bullet-list.ts
  src/extensions/clear.ts
  src/extensions/code-block.ts
  src/extensions/code.ts
  src/extensions/color.ts
  src/extensions/components/bubble.ts
  src/extensions/components/image/ImageView.vue
  src/extensions/components/image/types.ts
  src/extensions/font-family.ts
  src/extensions/font-size.ts
  src/extensions/fullscreen.ts
  src/extensions/heading.ts
  src/extensions/highlight.ts
  src/extensions/history.ts
  src/extensions/horizontal-rule.ts
  src/extensions/image.ts
  src/extensions/indent.ts
  src/extensions/italic.ts
  src/extensions/link.ts
  src/extensions/markdown-theme.ts
  src/extensions/ordered-list.ts
  src/extensions/strike.ts
  src/extensions/subscript.ts
  src/extensions/table.ts
  src/extensions/task-list.ts
  src/extensions/text-align.ts
  src/extensions/underline.ts
  src/extensions/video.ts
  src/hooks/use-context.ts
  src/hooks/use-store.ts
  src/locales/index.ts
  src/type.ts
Due: npx eslint --fix, npx stylelint --fix

fix(VuetifyTiptap): closing characterCount causes editor error
  src/components/VuetifyTiptap.vue
  src/utils/utils.ts
Due: npx eslint --fix, npx stylelint --fix

refactor: replace lodash with lodash-unified
  package.json
  pnpm-lock.yaml
  src/components/VuetifyTiptap.vue
  src/utils/utils.ts
Due: npx eslint --fix, npx stylelint --fix

refactor(VuetifyTiptap): override configurations for duplicate extensions, update tsconfig
  examples/App.vue
  examples/extensions/preview.ts
  src/components/VuetifyTiptap.vue
  src/utils/utils.ts
  tsconfig.json
Due: npx eslint --fix, npx stylelint --fix

Notes added by 'git notes add'
  e2e2ee759c1eb52213538c1bce33fec5216f793c
Due: none

chore(release): 2.4.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

fix(font-size): "font-size" loading, duplicate "px" appears
  src/components/VuetifyTiptap.vue
  src/extensions/font-size.ts
  src/extensions/video.ts
  src/utils/utils.ts
Due: npx eslint --fix, npx stylelint --fix

chore(release): 2.4.3 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  fd1cbdec3eb297bdc6a2b10430acbcc535e33c3b
Due: none

chore(deps): pin vue-tsc to 1.8.27
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  npx eslint --fix: any of: **/*.{js,jsx,ts,tsx,vue}
  npx stylelint --fix: any of: **/*.{css,less,scss,vue}
