Repository yikoyu/vuetify-pro-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix

config(vite): disabled vite-plugin-checker
  vite-example.config.ts
Due: npx eslint --fix

Added Error Messages for the input
  src/components/VuetifyTiptap.vue
Due: npx eslint --fix, npx stylelint --fix

style: remove the 'text' attribute from vbtn
  examples/components/LinkDialog.vue
  src/extensions/components/image/ImageDialog.vue
  src/extensions/components/link/LinkDialog.vue
  src/extensions/components/video/VideoDialog.vue
Due: npx eslint --fix, npx stylelint --fix

chore(vite): generated components.d.ts
  .gitignore
  tsconfig.json
  vite.config.ts
Due: npx eslint --fix

chore(engines): engines narrows down the scope of node and pnpm
  package.json
Due: none

fix(style): buttons on toolbar's second line are not showing
  src/styles/editor.scss
Due: npx stylelint --fix

fix(markdown-theme): cannot switch themes
  src/extensions/markdown-theme.ts
Due: npx eslint --fix

feat(link): added unlink function, rel & target attributes
  examples/components/LinkDialog.vue
  examples/tiptap.ts
  src/components/BubbleMenu.vue
  src/constants/define.ts
  src/constants/icons.ts
  src/extensions/components/LinkActionButton.vue
  src/extensions/components/bubble.ts
  src/extensions/components/link/LinkDialog.vue
  src/extensions/components/link/types.ts
  src/extensions/link.ts
  src/locales/en.ts
  src/locales/nl.ts
  src/locales/zh-Hans.ts
Due: npx eslint --fix, npx stylelint --fix

feat(image): support setting the default width and display
  examples/tiptap.ts
  src/extensions/image.ts
Due: npx eslint --fix

feat(ColorPicker): support for custom colors
  src/constants/icons.ts
  src/extensions/components/ColorPicker.vue
Due: npx eslint --fix, npx stylelint --fix

chore(github): update node to v20
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore(commitlint): disabled footer-max-line-length
  commitlint.config.js
Due: npx eslint --fix

chore(release): 2.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  ee9c8c4bceba690e45687e4cb129dcb9ec779e48
Due: none

fix(Image): upload function didn't run
  src/extensions/components/image/ImageUpload.vue
  src/extensions/components/image/types.ts
Due: npx eslint --fix, npx stylelint --fix

chore(release): 2.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  09a82b9a1047b4d66a19eaecdb9b2c1cf48c1270
Due: none

export useTiptapStore to access fullscreen state
  src/index.ts
Due: npx eslint --fix

fix old code
  src/index.ts
Due: npx eslint --fix

fix: yarn install error
  package.json
Due: none

chore(release): 2.5.2 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  b2bbae4722a2842cbce8f76fe888fc85040846d7
Due: none

Create de.ts
  src/locales/de.ts
Due: npx eslint --fix

Update index.ts
  src/locales/index.ts
Due: npx eslint --fix

Update README.md
  README.md
Due: none

fix(locale): add german locale (#349)
  README.md
  src/locales/de.ts
  src/locales/index.ts
Due: npx eslint --fix

style(eslint): switch to using @antfu/eslint-config and @yikoyu/stylelint-config
  .eslintignore
  .eslintrc.js
  .github/renovate.json5
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .npmrc
  .releaserc.js
  README.md
  README.zh-CN.md
  eslint.config.mjs
  examples/App.vue
  examples/package.json
  examples/styles/markdown/github.scss
  examples/styles/markdown/maidragon.scss
  examples/tiptap.ts
  examples/tsconfig.json
  index.html
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
  src/extensions/clear.ts
  src/extensions/components/ActionMenuButton.vue
  src/extensions/components/image/ImageView.vue
  src/extensions/indent.ts
  src/hooks/use-markdown-theme.ts
  src/locales/de.ts
  src/styles/markdown.scss
  src/utils/mitt.ts
  src/utils/utils.ts
  stylelint.config.js
  stylelint.config.mjs
  tsconfig.json
Due: npx eslint --fix, npx stylelint --fix

docs: update README
  README.zh-CN.md
Due: none

chore(deps): add @yikoyu/commitlint-config and @yikoyu/semantic-release-config
  .npmrc
  .releaserc.js
  commitlint.config.js
  commitlint.config.mjs
  package.json
  pnpm-lock.yaml
  release.config.mjs
Due: npx eslint --fix

chore(github): extract the deps installation part to build-setup
  .github/actions/build-setup/action.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore(deps): update tiptap to 2.0.29
  package.json
  pnpm-lock.yaml
Due: none

config(commitlint): ignore commitlint footer-max-line-length
  commitlint.config.mjs
Due: none

chore(release): 2.5.3 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  62da399491f90e39b0d6d522891f416ff4713be8
Due: none

config: add .nvmrc file [skip-ci]
  .nvmrc
Due: none

fix: augment `vue` rather than `@vue/runtime-core`
  src/index.ts
Due: npx eslint --fix

fix: augment `vue` rather than `@vue/runtime-core` (#357)
  src/index.ts
Due: npx eslint --fix

config(semantic-release): release without updating `package.json`
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  npx eslint --fix: any of: **/*.{js,jsx,ts,tsx,vue}
  npx stylelint --fix: any of: **/*.{css,less,scss,vue}
