Repository yikoyu/vuetify-pro-tiptap: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix, npx stylelint --fix

chore: rebase to develop
  src/components/VuetifyTiptap.vue
  src/extensions/components/ActionButton/src/index.vue
Due: npx eslint --fix, npx stylelint --fix

feat(locale): :sparkles: enhance internationalization with fallback support and cleanup
  README.md
  README.zh-CN.md
  examples/tiptap.ts
  src/hooks/use-context.ts
  src/install.ts
  src/locales/index.ts
Due: npx eslint --fix

style: :lipstick: update code format
  src/locales/index.ts
Due: npx eslint --fix

feat(bubble): :sparkles: support table operations with default resizable=true and fix style loss
  examples/styles/markdown/github.scss
  examples/styles/markdown/maidragon.scss
  examples/tiptap.ts
  src/components/BubbleMenu.vue
  src/constants/define.ts
  src/extensions/components/bubble.ts
  src/extensions/table.ts
  src/styles/editor.scss
  src/styles/markdown.scss
  src/utils/utils.ts
Due: npx eslint --fix, npx stylelint --fix

fix: :bug: disableToolbar prop not behaving reactively
  src/components/VuetifyTiptap.vue
  src/extensions/components/ActionButton/src/index.vue
Due: npx eslint --fix, npx stylelint --fix

fix(font-size): :bug: recognize pre-set fontSize when marking text
  src/extensions/font-size.ts
Due: npx eslint --fix

feat(locale): add Portuguese language support (#432)
  README.md
  README.zh-CN.md
  src/locales/index.ts
  src/locales/pt.ts
Due: npx eslint --fix

feat(link): :sparkles: remove "open in new tab" and "rel" options
  examples/components/LinkDialog.vue
  src/extensions/components/ActionButton/exts/LinkActionButton.vue
  src/extensions/components/link/LinkDialog.vue
  src/extensions/components/link/types.ts
  src/locales/de.ts
  src/locales/en.ts
  src/locales/it.ts
  src/locales/nl.ts
  src/locales/pt.ts
  src/locales/tr.ts
  src/locales/zh-Hans.ts
Due: npx eslint --fix, npx stylelint --fix

refactor(table): :recycle: replace table-grid-size-editor with cellInnerStyles
  src/extensions/components/table/CreateTablePopover.vue
  src/styles/editor.scss
Due: npx eslint --fix, npx stylelint --fix

chore(deps): :rewind: update dependency vue to ^3.5.13
  package.json
  pnpm-lock.yaml
Due: none

ci: :ferris_wheel: install node_modules skip husky
  .github/actions/build-setup/action.yml
Due: none

chore(release): 2.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  560158db5a25efad351006e1bc9c2d682531a52e
Due: none

https://theplanttokyo.atlassian.net/browse/QOR5-610
  lib/constants/icons.d.ts
  lib/extensions/html-view.d.ts
  lib/extensions/index.d.ts
  lib/index.d.ts
  lib/type.d.ts
  lib/vuetify-pro-tiptap.js
  lib/vuetify-pro-tiptap.umd.cjs
  src/constants/icons.ts
  src/extensions/components/image/IconHtml.vue
  src/extensions/html-view.ts
  src/extensions/index.ts
  src/index.ts
  src/locales/en.ts
  src/locales/zh-Hans.ts
  src/type.ts
Due: npx eslint --fix, npx stylelint --fix

refactor(html-view): improve overlay handling and update comments for clarity; ensure consistent dimensions in HTML view mode
  lib/vuetify-pro-tiptap.js
  lib/vuetify-pro-tiptap.umd.cjs
  src/extensions/html-view.ts
Due: npx eslint --fix

refactor(html-view): capture original editor dimensions before switching to HTML mode; improve handling of CSS variables for consistent layout
  lib/vuetify-pro-tiptap.js
  lib/vuetify-pro-tiptap.umd.cjs
  src/extensions/html-view.ts
Due: npx eslint --fix

feat(extensions): add allowedAttributes option to Blockquote, Heading, and HtmlView extensions for customizable HTML attributes
  examples/unified-attributes-demo.vue
  lib/extensions/attribute-config.d.ts
  lib/extensions/blockquote.d.ts
  lib/extensions/heading.d.ts
  lib/extensions/html-view.d.ts
  lib/vuetify-pro-tiptap.js
  lib/vuetify-pro-tiptap.umd.cjs
  src/extensions/attribute-config.ts
  src/extensions/blockquote.ts
  src/extensions/heading.ts
  src/extensions/html-view.ts
Due: npx eslint --fix, npx stylelint --fix

refactor(extensions): remove unified-attributes-demo.vue example; update extensions to include allowedAttributes option for various elements
  examples/unified-attributes-demo.vue
  lib/extensions/base-kit.d.ts
  lib/extensions/bold.d.ts
  lib/extensions/bullet-list.d.ts
  lib/extensions/code-block.d.ts
  lib/extensions/code.d.ts
  lib/extensions/highlight.d.ts
  lib/extensions/image.d.ts
  lib/extensions/index.d.ts
  lib/extensions/italic.d.ts
  lib/extensions/link.d.ts
  lib/extensions/ordered-list.d.ts
  lib/extensions/paragraph.d.ts
  lib/extensions/strike.d.ts
  lib/extensions/table.d.ts
  lib/extensions/task-list.d.ts
  lib/extensions/underline.d.ts
  lib/extensions/video.d.ts
  lib/vuetify-pro-tiptap.js
  lib/vuetify-pro-tiptap.umd.cjs
  src/extensions/attribute-config.ts
  src/extensions/base-kit.ts
  src/extensions/bold.ts
  src/extensions/bullet-list.ts
  src/extensions/code-block.ts
  src/extensions/code.ts
  src/extensions/highlight.ts
  src/extensions/html-view.ts
  src/extensions/image.ts
  src/extensions/index.ts
  src/extensions/italic.ts
  src/extensions/link.ts
  src/extensions/ordered-list.ts
  src/extensions/paragraph.ts
  src/extensions/strike.ts
  src/extensions/table.ts
  src/extensions/task-list.ts
  src/extensions/underline.ts
  src/extensions/video.ts
Due: npx eslint --fix, npx stylelint --fix

feat: added french language support
  README.md
  README.zh-CN.md
  src/locales/fr.ts
  src/locales/index.ts
Due: npx eslint --fix

build: :package: simplify build process and configuration
  .husky/commit-msg
  .husky/pre-commit
  package.json
  vite.config.ts
Due: npx eslint --fix

docs: :memo: update README.md
  README.md
  README.zh-CN.md
Due: none

chore: :rewind: upgrade Node.js to v22.16.0 and pnpm to v10.11.1, optimize CI configuration
  .github/actions/build-setup/action.yml
  .github/workflows/gh-pages.yml
  .github/workflows/release.yml
  .github/workflows/semantic_pr.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): update dependency @antfu/eslint-config to ^4.13.3
  package.json
  pnpm-lock.yaml
Due: none

feat(locales): :sparkles: added french language support
  README.md
  README.zh-CN.md
  src/locales/fr.ts
  src/locales/index.ts
Due: npx eslint --fix

fix(xss): :bug: add `sup` and `sub` to default xssOptions whitelist
  src/constants/xss-rules.ts
Due: npx eslint --fix

feat(tiptap): tiptap version 3
  package.json
  pnpm-lock.yaml
  src/components/BubbleMenu.vue
  src/components/TiptapToolbar.vue
  src/components/VuetifyTiptap.vue
  src/extensions/blockquote.ts
  src/extensions/bold.ts
  src/extensions/bullet-list.ts
  src/extensions/clear.ts
  src/extensions/code-block.ts
  src/extensions/code.ts
  src/extensions/color.ts
  src/extensions/components/image/ImageView.vue
  src/extensions/font-family.ts
  src/extensions/font-size.ts
  src/extensions/fullscreen.ts
  src/extensions/heading.ts
  src/extensions/highlight.ts
  src/extensions/history.ts
  src/extensions/horizontal-rule.ts
  src/extensions/image.ts
  src/extensions/indent.ts
  src/extensions/italic.ts
  src/extensions/link.ts
  src/extensions/markdown-theme.ts
  src/extensions/ordered-list.ts
  src/extensions/strike.ts
  src/extensions/subscript.ts
  src/extensions/table.ts
  src/extensions/task-list.ts
  src/extensions/text-align.ts
  src/extensions/underline.ts
  src/extensions/video.ts
  src/type.ts
Due: npx eslint --fix, npx stylelint --fix

fix(imports): resort imports
  src/extensions/blockquote.ts
  src/extensions/bold.ts
  src/extensions/bullet-list.ts
  src/extensions/code-block.ts
  src/extensions/code.ts
  src/extensions/color.ts
  src/extensions/font-family.ts
  src/extensions/font-size.ts
  src/extensions/heading.ts
  src/extensions/highlight.ts
  src/extensions/history.ts
  src/extensions/horizontal-rule.ts
  src/extensions/image.ts
  src/extensions/italic.ts
  src/extensions/link.ts
  src/extensions/markdown-theme.ts
  src/extensions/ordered-list.ts
  src/extensions/strike.ts
  src/extensions/subscript.ts
  src/extensions/table.ts
  src/extensions/task-list.ts
  src/extensions/text-align.ts
  src/extensions/underline.ts
  src/extensions/video.ts
Due: npx eslint --fix

fix(fix): fix imports
  src/extensions/code-block.ts
  src/extensions/table.ts
Due: npx eslint --fix

feat(tiptap3.4): upgrade tiptap
  package.json
  pnpm-lock.yaml
  src/extensions/code-block.ts
Due: npx eslint --fix

chore(dependencies): update Tiptap extensions to version 2.24.0 and adjust pnpm lockfile version; refactor Vuetify Pro Tiptap component for improved structure and readability
  lib/vuetify-pro-tiptap.js
  lib/vuetify-pro-tiptap.umd.cjs
  package.json
  pnpm-lock.yaml
Due: npx eslint --fix

feat(tiptap): :sparkles: upgrade tiptap packages
  README.md
  README.zh-CN.md
  examples/styles/markdown/github.scss
  examples/styles/markdown/maidragon.scss
  examples/tiptap.ts
  package.json
  pnpm-lock.yaml
  src/components/BubbleMenu.vue
  src/components/VuetifyTiptap.vue
  src/extensions/base-kit.ts
  src/extensions/bold.ts
  src/extensions/bullet-list.ts
  src/extensions/code-block.ts
  src/extensions/code.ts
  src/extensions/color.ts
  src/extensions/components/image/ImageView.vue
  src/extensions/font-family.ts
  src/extensions/heading.ts
  src/extensions/highlight.ts
  src/extensions/history.ts
  src/extensions/horizontal-rule.ts
  src/extensions/image.ts
  src/extensions/italic.ts
  src/extensions/link.ts
  src/extensions/ordered-list.ts
  src/extensions/strike.ts
  src/extensions/subscript.ts
  src/extensions/table.ts
  src/extensions/task-list.ts
  src/extensions/text-align.ts
  src/extensions/underline.ts
  src/styles/editor.scss
  src/styles/markdown.scss
  src/type.ts
  tsconfig.json
Due: npx eslint --fix, npx stylelint --fix

chore(release): 2.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: none

Notes added by 'git notes add'
  9a6fcb4099a2bcbc3b739f6fc04e401a99ec5c59
Due: none

Path conditions:
  npx eslint --fix: any of: **/*.{js,jsx,ts,tsx,vue}
  npx stylelint --fix: any of: **/*.{css,less,scss,vue}
